.status-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1px 10px;
  box-sizing: border-box;
}
.status-bar__column:first-child span {
  font-size: 25px;
  margin-left: 5px;
}
.status-bar__column:last-child {
  display: flex;
  align-items: center;
}
.status-bar__column .fa-wifi {
  margin: 0px 6px;
}
